<div class="tabs-wrapper">
  <ul class="nav classic-tabs tabs-cyan" role="tablist">
    <li class="nav-item">
      <a class="nav-link waves-light" ng-class="{'active':activeTab=='tab1'}" data-toggle="tab" href="#tab1" role="tab"
      ng-click="funcSwitchTab('tab1');clearData()">
        ข้อมูลส่วนตัว
      </a>.
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" ng-class="{'active':activeTab=='tab2'}" data-toggle="tab" href="#tab2" role="tab"
      ng-click="funcSwitchTab('tab2');clearData()">
        ประเภทของการกู้ยืม
      </a>
    </li>
  </ul>
</div>