<div ng-if="activeTab == 'tab4'" class="tab-pane fade" ng-class="{'in show active':activeTab == 'tab4'}" id="tab4" role="tabpanel" >
    <div  class="col-xs-12 col-xl-12" ng-init="loadInvestorInterestType();loadDatauser();">
        <form name="form_investor_investment">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-xl-10">
                <div class="md-form">
                    <div class="col-12">
                        <label>ท่านมีความสนใจหรือต้องการลงทุนในงานด้านเกษตรกรรมประเภทใด</label>
                    </div>
                    <br>
                    <br>
                    <div class="form-inline" style="padding-left : 15px;">
                        <div class="form-group col-xl-3 col-sm-12" ng-repeat="(key, value) in investor_interest_type_menu">
                            <input type="checkbox" id="{{ value.id }}" ng-model="investor_interest_type_menu[$index].is_check" ng-checked="investor_investment.investor_interest_type.indexOf(value.id) > -1" name="{{'investor_interest_type_'+ value.id}}">
                            <label for="{{ value.id }}" >{{ value.name }}</label>
                        </div>
                    </div>
                </div>
               
                <div class="md-form">
                    <div class="col-12">
                        <label>ท่านมีรายได้ต่อเดือนเท่าใด(บาท)</label>
                    </div>
                    <br>
                    <br>
                    <div class="form-inline">
                        <div class="form-group col-xl-3 col-sm-12" ng-repeat="(key, value) in investor_income_type_menu" >
                            <input name="investor_income_type" id="{{ 'investor_income_type_' + value.id }}" type="radio" value="{{ value.id }}" ng-model="investor_investment.investor_income_type_id" ng-checked="investor_investment.investor_income_type_id == value.id ">
                            <label for="{{ 'investor_income_type_' + value.id  }}">{{ value.name }}</label>
                        </div>
                    </div>
                </div>
                <div class="md-form" ng-show="investor_investment.investor_income_type_id == 8">
                    <input type="text" id="investor_income_type_note" name="investor_income_type_note" class="form-control" ng-model="investor_investment.investor_income_type_note" ng-required="investor_investment.investor_income_type_id == 8">
                    <label for="investor_income_type_note" class="" ng-class="{ 'red-text' : form_investor_investment.investor_income_type_note.$error.required && hasSubmit ,'active' :investor_investment.investor_income_type_note != null}">กรุณาระบุ</label>
                </div>
                
                <div class="md-form">
                    <div class="col-12">
                        <label>ท่านมีเงินสะสมเพื่อใช้สำหรับเตรียมการลงทุนไว้เท่าใดหากมีโอกาส(บาท)</label>
                    </div>
                    <br>
                    <br>
                    <div class="form-inline">
                        <div class="form-inline">
                            <div class="form-group col-xl-3 col-sm-12" ng-repeat="(key, value) in investor_invest_type_menu" >
                                <input name="investor_invest_type" id="{{ 'investor_invest_type_' + value.id }}" type="radio" value="{{ value.id }}" ng-model="investor_investment.investor_invest_type_id" ng-checked="investor_investment.investor_invest_type_id == value.id ">
                                <label for="{{ 'investor_invest_type_' + value.id  }}">{{ value.name }}</label>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="md-form" ng-show="investor_investment.investor_invest_type_id == 8">
                    <input type="text" id="investor_invest_type_note" name="investor_invest_type_note" class="form-control" ng-model="investor_investment.investor_invest_type_note" ng-required="investor_investment.investor_invest_type_id == 8" >
                    <label for="investor_invest_type_note" ng-class="{ 'red-text' : form_investor_investment.investor_invest_type_note.$error.required && hasSubmit , 'active' :investor_investment.investor_invest_type_note != null}">กรุณาระบุ</label>
                </div>
                <br>
                <br>
                <div class="md-form">
                    <textarea id="investor_comment" class="md-textarea" ng-model="investor_investment.investor_comment"></textarea>
                    <label for="investor_comment" ng-class="{active : investor_investment.investor_comment != null || investor_investment.investor_comment != ''}">ข้อจำกัดปัญหาหรืออุปสรรคที่ท่านได้รับระหว่างการเพาะปลูก</label>
                </div>
                
                <div class="md-form">
                    <div class="col-12">
                        <label>ช่วยสร้างโอกาสทางการผลิตและการตลาดหรือไม่</label>
                    </div>
                    <br>
                    <br>
                    <div class="form-inline">

                        <div class="form-group col-3">
                            <input name="interest" type="radio" id="interest_1" ng-model="investor_investment.interest" value="1" ng-checked="investor_investment.interest == 1">
                            <label for="interest_1">สนใจ</label>
                        </div>

                        <div class="form-group col-6">
                            <input name="interest" type="radio" id="interest_2" ng-model="investor_investment.interest" value="0" ng-checked="investor_investment.interest == 0">
                            <label for="interest_2">ไม่สนใจ</label>
                        </div>
                    </div>
                </div>
                
                <!--  -->
                <div class="text-center">
                    <button class="btn btn-success" ng-click="sendForm(!!form_investor_investment.$error.required);"><i class="fa fa-save ml-1"></i> บันทึก</button>
                </div>
            </div>
            <!-- /col-xs-12 col-xl-10 -->
        </div>
        <!-- /row -->
    </form>
    </div>
</div>

