<form name="form_profile">

<div class="md-form form-inline">
    <div class="form-group">
        <input name="is_corporate" type="radio" id="sel_minor" value="0" ng-model="user_data.is_corporate" ng-click="user_data.corporate_type_id = '1'">
        <label for="sel_minor">รายย่อย </label>
    </div>

    <div class="form-group" ng-if="user_role_id <= 4">
        <input name="is_corporate" type="radio" id="sel_corporate" value="1" ng-model="user_data.is_corporate">
        <label for="sel_corporate">นิติบุคคล</label>
    </div>

</div>
<!--  -->
<div class="md-form form-inline" ng-show="user_data.is_corporate == '1'">
    <div class="form-group">
        <input name="sub_type" type="radio" id="company" value="1" ng-model="user_data.corporate_type_id">
        <label for="company">บริษัท</label>
    </div>

    <div class="form-group">
        <input name="sub_type" type="radio" id="cooperative" value="2" ng-model="user_data.corporate_type_id">
        <label for="cooperative">สหกรณ์</label>
    </div>
    <div class="form-group">
        <input name="sub_type" type="radio" id="community" value="3" ng-model="user_data.corporate_type_id">
        <label for="community">วิสาหกิจชุมชน</label>
    </div>
    <div class="form-group">
        <input name="sub_type" type="radio" id="other" value="4" ng-model="user_data.corporate_type_id">
        <label for="other">อื่นๆ</label>
    </div>

</div>
<!-- +++++++++++++ end radio button++++++++++++++++ -->
<div class="mt-5" ng-switch="user_data.is_corporate">
    <div ng-switch-when="0">

        <div class="md-form">
            <input type="text" class="form-control" ng-model="user_data.name" id="name" name="name" required>
            <label for="tax_id" ng-class="{'active':user_data.name}">ชื่อ</label>
            <small class="red-text" ng-show="form_profile.name.$error.required && hasSubmit">This field is required.</small>
        </div>

        <div class="md-form">
            <input type="text" class="form-control" ng-model="user_data.surname" id="surname" name="surname" required>
            <label for="tax_id" ng-class="{'active':user_data.surname}">สกุล</label>
            <small class="red-text" ng-show="form_profile.surname.$error.required && hasSubmit">This field is required.</small>
        </div>

        <div class="md-form form-inline">
            <div class="form-group">
                <input name="type_gender" type="radio" id="sel_male" value="1" ng-model="user_data.gender_id" required>
                <label for="sel_male">ชาย </label>
            </div>
            <div class="form-group">
                <input name="type_gender" type="radio" id="sel_female" value="2" ng-model="user_data.gender_id" required>
                <label for="sel_female">หญิง </label>
            </div>
            <small class="red-text" ng-show="form_profile.type_gender.$error.required && hasSubmit">This field is required.</small>
        </div>

        <div class="md-form">
            <input type="text" class="form-control" ng-model="user_data.tax_id" id="tax_id" maxlength="13" name="tax_id" ng-pattern="/^[0-9]{1,13}$/" ng-minlength="13">
            <label for="tax_id" ng-class="{'active':user_data.tax_id != null || user_data.tax_id != '' }">หมายเลขบัตรประชาชน</label>
             <span class="red-text" ng-show=" !form_profile.tax_id.$valid && hasSubmit">กรุณาระบุ หมายเลขบัตรประชาชนให้ถูกต้อง</span>
        </div>
        
        <div class="md-form">
            <input type="text" class="form-control" ng-model="user_data.age" empty-to-null id="age" name="age" maxlength="3" ng-pattern="/^[0-9]{1,3}$/" ng-maxlength="3">
            <label for="age" ng-class="{'active': user_data.age}">อายุ</label>
            <span class="red-text" ng-show=" !form_profile.age.$valid && hasSubmit">กรุณาระบุ อายุให้ถูกต้อง</span>
        </div>
        <div class="md-form">
            <input type="text" class="form-control" ng-model="user_data.house_number" id="house_number" maxlength="255">
            <label for="house_number" ng-class="{'active':user_data.house_number}">บ้านเลขที่</label>
        </div>
        <div class="md-form">
            <input type="text" class="form-control" ng-model="user_data.village" id="village" maxlength="255">
            <label for="village" ng-class="{'active':user_data.village}">หมู่บ้าน</label>
        </div>
        <div class="md-form">
            <input type="text" class="form-control" ng-model="user_data.village_number" id="village_number" maxlength="255">
            <label for="village_number" ng-class="{'active':user_data.village_number}">หมู่</label>
        </div>
        <div class="md-form">
            <input type="text" class="form-control" ng-model="user_data.alley" id="alley" maxlength="255">
            <label for="alley" ng-class="{'active':user_data.alley}">ซอย</label>
        </div>
        <div class="md-form" ng-if="user_role_id <= 4 && user_type_id == 7">
            <input type="text" class="form-control" ng-model="user_data.affiliation" id="affiliation" maxlength="255">
            <label for="affiliation" ng-class="{'active':user_data.affiliation}">ต้นสังกัด</label>
        </div>
    </div>
    <!--  -->
    <div ng-switch-when="1">


        <div ng-if="user_data.corporate_type_id == '1'">
            <div class="md-form">
                <input type="text" class="form-control" ng-model="user_data.corp_name" id="company_name">
                <label for="company_name" ng-class="{'active':user_data.corp_name}">ชื่อบริษัท</label>
            </div>
            <!-- + -->
            <div class="md-form">
                <input type="text" class="form-control" ng-model="user_data.tax_id" id="tax_id">
                <label for="tax_id" ng-class="{'active':user_data.tax_id}">หมายเลขผู้เสียภาษี</label>
            </div>
            <!-- + -->
            <div class="md-form">
                <input type="text" class="form-control" ng-model="user_data.registered_capital" id="cost_regis">
                <label for="cost_regis" ng-class="{'active':user_data.registered_capital}">ทุนจดลงทะเบียน</label>
            </div>
            <!-- + -->
            <div class="md-form">
                <input type="text" class="form-control" ng-model="user_data.corp_number_member" id="num_emp">
                <label for="num_emp" ng-class="{'active':user_data.corp_number_member}">จำนวนพนักงาน</label>
            </div>
        </div>
        <!-- ++++++ -->
        <div ng-if="user_data.corporate_type_id != 1">
            <div class="md-form" ng-if="user_data.corporate_type_id == 2">
                <input type="text" class="form-control" ng-model="user_data.corp_name" id="cooperat_name">
                <label for="cooperat_name" ng-class="{'active':user_data.corp_name}">ชื่อสหกรณ์</label>
            </div>
            <!-- // -->
            <div class="md-form" ng-if="user_data.corporate_type_id == 3">
                <input type="text" class="form-control" ng-model="user_data.corp_name" id="communityEnt_name">
                <label for="communityEnt_name" ng-class="{'active':user_data.corp_name}">ชื่อวิสาหกิจชุมชน</label>
            </div>
            <!-- // -->
            <div class="md-form" ng-if="user_data.corporate_type_id == 4">
                <input type="text" class="form-control" ng-model="user_data.corp_name" id="company_name">
                <label for="company_name" ng-class="{'active':user_data.corp_name}">ชื่อนิติบุคคล</label>
            </div>

            <!-- + -->
            <div class="md-form">
                <input type="text" class="form-control" ng-model="user_data.corp_number" id="regis_number">
                <label for="regis_number" ng-class="{'active':user_data.corp_number}">หมายเลขลงทะเบียน</label>
            </div>
            <!-- + -->
            <div class="md-form">
                <input type="text" class="form-control" ng-model="user_data.corp_number_member" id="num_member">
                <label for="num_member" ng-class="{'active':user_data.corp_number_member}">จำนวนสมาชิก</label>
            </div>
        </div>
        <!-- ++++++ -->

    </div>
</div>

<!-- /switch user_data.is_corporate -->
<!--   PROVINCE DISTRICT SUBDISTRICT -->
<div ng-include="'../view/common_address_select.html'"></div>
<!--  -->
<div class="md-form">
    <textarea class="md-textarea" ng-model="user_data.address" rows="2"></textarea>
    <label ng-class="{'active':user_data.address}">ที่อยู่</label>
</div>

<div class="md-form">
    <input type="text" class="form-control" ng-model="user_data.phone" name="phone" maxlength="10" required>
    <label ng-class="{'active':user_data.phone}">เบอร์โทรศัพท์</label>
    <small class="red-text" ng-show="form_profile.phone.$error.required && hasSubmit">This field is required.</small>
</div>

<div class="md-form">
    <input type="text" class="form-control" ng-model="user_data.zipcode">
    <label ng-class="{'active':user_data.zipcode}">รหัสไปรษณีย์</label>
</div>

<div class="md-form">
    <input type="text" class="form-control" ng-model="user_data.email">
    <label ng-class="{'active':user_data.email}">อีเมล์</label>
</div>


<div ng-if="user_type_id == 2">
    <div class="md-form">
        <input type="text" class="form-control" ng-model="user_data.shop_name">
        <label ng-class="{'active':user_data.shop_name}">ชื่อร้าน</label>
    </div>
    <div class="md-form">
        <input type="text" class="form-control" ng-model="user_data.shop_website">
        <label ng-class="{'active':user_data.shop_website}">ชื่อเว็บไซต์ร้าน</label>
    </div>
    <div class="md-form">
        <input type="text" class="form-control" ng-model="user_data.shop_email">
        <label ng-class="{'active':user_data.shop_website}">อีเมล์ร้าน</label>
    </div>
    <div class="md-form">
        <input type="text" class="form-control" ng-model="user_data.shop_line">
        <label ng-class="{'active':user_data.shop_line}">ไลน์ไอดี</label>
    </div>
    <div class="md-form">
        <input type="text" class="form-control" ng-model="user_data.shop_facebook">
        <label ng-class="{'active':user_data.shop_line}">เฟสบุคร้าน</label>
    </div>
    <div class="md-form">
        <input type="text" class="form-control" ng-model="user_data.shop_ig">
        <label ng-class="{'active':user_data.shop_ig}">อินสตาแกรมร้าน</label>
    </div>
    <div class="md-form">
        <input type="text" class="form-control" ng-model="user_data.shop_phone">
        <label ng-class="{'active':user_data.shop_phone}">เบอร์โทรร้าน</label>
    </div>
</div>


        <!-- ค้นหา -->

        <div class="row">

            <!--Grid column-->
            <div class="col-sm-12 col-lg-10">
                <div class=" md-form form-sm mt-5">
                    <i class="fa fa-search prefix"></i>
                    <input type="text" class="form-control" ng-model="address" placeholder="กรอกจังหวัด/อำเภอ/ตำบล/ หรือ ละติจูด,ลองติจูด">
                    <label class="active">ค้นหาที่อยู่</label>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-sm-12 col-lg-2 text-center">
                <div class="md-form">
                    <div class="md-form">
                        <button type="button" style="margin-top: 2.5rem;" class="btn btn-primary" ng-click="search_address=address" title="ค้นหา"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <!--Grid column-->

        </div>
        <!-- แผนที่ -->
        <div class="col-md-12 ">
            <!-- insert ใหม่ -->
            <ng-map ng-if="!user_data.id" zoom="13" center="{{search_address}}" center='{{[user_data.gps_lat,user_data.gps_long]}}' map-type-id="MapTypeId.ROADMAP">
                <marker position="{{search_address}}" on-dragend="getCurrentlocation()" animation="DROP" draggable="true" animation="Animation.BOUNCE" centered="true"></marker>
            </ng-map>
            <!-- update -->
            <ng-map ng-if="user_data.id" center="[{{search_address}}]" zoom="13" center='{{[user_data.gps_lat,user_data.gps_long]}}' map-type-id="MapTypeId.ROADMAP">
                <marker  position="{{search_address}}" position="{{[user_data.gps_lat,user_data.gps_long]}}" on-dragend="getCurrentlocation()" animation="DROP" draggable="true" animation="Animation.BOUNCE" centered="true"></marker>
            </ng-map>

            <label>{{user_data.location_remark}}</label>
        </div>

        <!--  -->
<div class="text-center mt-3">
    <button ng-show="!user_data.id" ng-disabled="!!form_profile.$error.required && hasSubmit" class="btn btn-success" ng-click="funcInsertUserData(!!form_profile.$error.required , !!form_profile.$valid)"><i class="fa fa-save ml-1"></i> บันทึก</button>
    <button ng-show="user_data.id" ng-disabled="!!form_profile.$error.required && hasSubmit" class="btn btn-success" ng-click="funcUpdateUserData(!!form_profile.$error.required , !!form_profile.$valid)"><i class="fa fa-save ml-1"></i> บันทึก</button>
</div>
</form>

