<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">คุณแน่ใจว่าต้องการลบข้อมูลนี้?</p>
            </div>

            <!--Body-->
            <div class="modal-body">

                <i class="fa fa-trash fa-4x animated rotateIn"></i>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <button class="btn  btn-outline-secondary-modal" ng-click="delData(data_alert)">ใช่</button>
                <button type="button" class="btn  btn-primary-modal waves-effect" data-dismiss="modal">ไม่</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalConfirmDelete-->